body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #413e3e;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.app,.app1,.app2 {
    background-color: #727272;
    width: 300px;
    height: 500px;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
    overflow-y: scroll;
}

.app::-webkit-scrollbar,.app1::-webkit-scrollbar ,.app2::-webkit-scrollbar  {
    width: 0 !important;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(233, 233, 234, 0.64);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}

.fa-plus {
    background-color: #767676;
    padding: 3px;
    border-radius: 3px;
}

#tasks ,.in-progress-container,.done-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

#tasks div,.in-progress-container div,.done-container div{
    border: 3px solid #abcea1;
    background-color: #eedeea;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
}

#tasks div .options,.in-progress-container div .options,.done-container div .options{
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i,.in-progress-container  div .options i,.done-container div .options i{
    cursor: pointer;
}

#msg {
    color: rgb(98, 255, 0);
}
.bg-blue{
    background-color: #71385a;
}
.bg-green{
    background-color: #bd8127;
}
.todosContainer{
    display: flex;
    gap: 40px;
}
.app1{
    border: 5px solid hsl(90, 66%, 65%);
}
.app2{
    border: 5px solid #0d2c08;
 }
.in-progress-container div{
    border: 3px solid #6aafe0;
}
.done-container div{
    border: 3px solid #bed583;
 }